<h1>Hi, and welcome to our contacts database</h1>
<p>The first contact in our database is:</p>
<p>First Name: <%= @first[:first_name] %></p>
<p>Last Name: <%= @first[:last_name] %></p>
<p>Email: <%= @first[:email] %></p>
<p>Phone Number: <%= @first[:phone_number] %></p>
<%=  %>
